EXPO_PUBLIC_API_URL=https://tripwise-backend-rho.vercel.app/
# Replace YOUR_LAN_IP with your actual IP (https://tripwise-backend-rho.vercel.app/run: ipconfig | find "IPv4")
# Example: EXPO_PUBLIC_API_URL=http://192.168.1.5:3000
